:root {
    --template-column: 20% auto 20%;
    --template-row: 20% 10% auto 15%;
}

body {
    height: 100vh;
}

img {
    width: 100%;
    height: 100%;
}

h1 {
    grid-column: 2 / 3;
    width: 100%;
    font-size: 5rem;
    align-self: center;
}

h2 {
    font-size: 2rem;
    text-align: center;
    border-bottom: 5px solid #80406F;
    border-radius: 10px;
    margin-right: 1rem;
    margin-left: 1rem;
}

p {
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 10px;
    border-bottom: 5px double #80406F;
    border-radius: 10px;
}

button {
    margin: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 2rem;
    font-weight: bold;
    background-color: #FF00BB;
    border: 5px solid black;
    border-radius: 10px;
}

button:hover {
    background-color: grey;
}

#grid-div {
    display: grid;
    grid-template-columns: var(--template-column);
    grid-template-rows: var(--template-row);
    min-height: 100%;
    min-width: 100%;
    background-color: purple;
}

#Top {
    grid-column: 1 / 4;
    grid-row: 1;
    background-color: #00FFFF;
    display: grid;
    grid-template-columns: var(--template-column);
}

#Header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#Left {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}

#Nav {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #80406F;
    border: 5px double black;
    border-radius: 10px;
    border-color: #FF00BB;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5%;
}

#Content {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: #FFD600;
    border: 5px solid #807540;
    border-radius: 10px;
}

#Footer {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    background-color: #39AAAA;
    border: 5px outset #80406F;
}

#Right {
    grid-column: 3 / 4;
    grid-row: 2 / 5;
}

#background-image {
    grid-column: 1 / 4;
    grid-row: 2 / 5;
}