:root {
    --template-column: 20vw 60vw 20vw;
    --template-row: 20vh 10vh auto auto;
}

img {
    width: 100%;
    height: 100%;
}

h1 {
    grid-column: 2 / 3;
    width: 100%;
    font-size: 5vw;
    align-self: center;
}

h2 {
    font-size: 3vw;
    text-align: center;
    border-bottom: 5px solid #80406F;
    border-radius: 10px;
    margin-right: 5%;
    margin-left: 5%;
}

p {
    font-size: 3vw;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 10px;
    border-bottom: 5px double #80406F;
    border-radius: 10px;
}

button {
    font-size: 2vw;
    font-weight: bold;
    background-color: #FF00BB;
    border: 5px solid black;
    border-radius: 10px;
    height: 75%;
    width: 75%;
    margin-left: 10%;
}

a {
    height: 100%;
    width: 100%;
    align-content: center;
}

button:hover {
    background-color: grey;
}

#grid-div {
    display: grid;
    grid-template-columns: var(--template-column);
    grid-template-rows: var(--template-row);
    background-color: grey;
}

#Top {
    grid-column: 1 / 4;
    grid-row: 1;
    background-color: #00FFFF;
    display: grid;
    grid-template-columns: var(--template-column);
}

#Header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#Left {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}

#Nav {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #80406F;
    border: 5px double black;
    border-radius: 10px;
    border-color: #FF00BB;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    overflow: hidden;
}

#Content {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: #FFD600;
    border: 5px solid #807540;
    border-radius: 10px;
}

#Footer {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    background-color: #39AAAA;
    border: 5px outset #80406F;
}

#Right {
    grid-column: 3 / 4;
    grid-row: 2 / 5;
}

#background-image {
    grid-column: 1 / 4;
    grid-row: 2 / 5;
}